<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ONT_Project_Semester2.Properties.Settings.PropertyDBConnectionString"
            connectionString="Data Source=LAPTOP-FV7KHQ0L;Initial Catalog=PropertyDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>